.categories {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px;
  margin-bottom: 24px;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  background-color: #F2F4F7; 
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  text-transform: capitalize;
}

.icon {
  width: 20px;
  height: 20px;
}