
@import 'modern-normalize';

:root {
  --color-main: #E44848;       
  --color-text: #101828;       
  --color-gray: #475467;       
  --color-bg: #FFFFFF;        
  --color-input-bg: #F7F7F7;   
  
  --font-main: 'Inter', sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}