.catalogPage {
  display: flex;
  gap: 64px; 
  padding: 50px;
}

.listContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.loadMoreBtn {
  margin-top: 32px;
  padding: 16px 32px;
  border: 1px solid #475467;
  background-color: transparent;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.loadMoreBtn:hover {
  border-color: #E44848;
}