
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 64px;
  background-color: #F7F7F7;
  position: relative;
  border-bottom: 1px solid #1018281A;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 2;
}


.logoImage {
  height: 24x; 
  width: auto;
  display: block;
}


.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
  z-index: 1;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  transition: color 0.3s;
}

.link:hover, .active {
  color: #E44848;
}