.formContainer {
  border: 1px solid #10182833;
  border-radius: 10px;
  padding: 24px;
  background-color: #fff;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  color: #475467;
  font-size: 16px;
  margin-bottom: 24px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.input {
  width: 100%;
  padding: 18px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.input::placeholder {
  color: #10182899;
}

.textarea {
  width: 100%;
  padding: 18px;
  background-color: #F7F7F7;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  resize: none;
  height: 114px;
}

.submitBtn {
  background-color: #E44848;
  color: white;
  padding: 16px 60px;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: #D84343;
}