.sidebar {
  width: 360px;
  flex-shrink: 0; 
}

.label {
  color: #10182899; 
  font-size: 16px;
  margin-bottom: 8px;
  display: block;
}

.inputWrapper {
  display: flex;
  align-items: center;
  background: #F7F7F7;
  padding: 18px;
  border-radius: 10px;
  margin-bottom: 32px;
  gap: 12px;
}

.input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  outline: none;
  color: #101828;
}

.filterSection {
  margin-bottom: 32px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  padding-top: 24px;
  border-top: 1px solid #1018281A;
}

.filterTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.filterBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 110px; 
  height: 95px;
  border: 1px solid #10182833;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.active {
  border-color: #E44848; 
}

.icon {
  font-size: 32px;
  margin-bottom: 8px;
}

.boxLabel {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.searchBtn {
  background-color: #E44848;
  color: white;
  width: 160px;
  padding: 16px;
  border-radius: 200px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBtn:hover {
  background-color: #D84343;
}