.container {
  background: #F7F7F7;
  padding: 24px;
  border-radius: 10px;
  height: 100%;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin: 24px 0 12px;
  border-bottom: 1px solid #1018281A;
  padding-bottom: 12px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailItem {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

.value {
  text-transform: capitalize;
  color: #101828;
}